absl-py
astor
# astunparse
attrs
# bleach==3.1.5
# cachetools==4.1.1
# certifi==2020.11.8
# chardet==3.0.4
click
# cmake==3.20.5
# dlib==19.18.0
# cycler==0.10.0
# Cython==0.29.33
# decorator==4.4.2
# defusedxml==0.6.0
easydict
entrypoints
# face-recognition==1.3.0
# face-recognition-models==0.3.0
Flask
gast
# google-auth==1.23.0
# google-auth-oauthlib==0.4.2
# google-pasta==0.2.0
grpcio
gunicorn
h5py
# idna==2.8
# imageio==2.9.0
importlib-metadata==3.1.0
# imutils==0.5.3
# ipykernel==4.6.1
itsdangerous
Jinja2
# joblib==0.17.0
jsonschema
Keras-Applications
Keras-Preprocessing
# kiwisolver==1.3.1
Markdown
MarkupSafe
# matplotlib==3.3.3
# mistune==0.8.4
mock
# nbconvert==5.6.1
# nbformat==5.0.7
# networkx==2.5
# notebook==5.2.2
numpy
# oauthlib==3.1.0
# opencv-contrib-python==4.4.0.46
# opencv-python==4.4.0.46
opencv-python-headless
# opt-einsum==3.3.0
# packaging==20.4
# pandas==0.24.2
# pandocfilters==1.4.2
Pillow
# portpicker==1.2.0
protobuf
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pymongo==3.11.1
pyopengl
# pyopengl-headless>=3.1.0
# pyparsing==2.4.7
pyrsistent
pytesseract
# python-dateutil==2.8.1
# pytz==2020.4
# PyWavelets==1.1.1
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
testpath
threadpoolctl
tifffile
typing-extensions
urllib3
waitress
# webencodings==0.5.1
Werkzeug
Wand
wheel
wincertstore
wrapt
zipp
