absl-py
astor
attrs
click
cmake
dlib
Cython
easydict
entrypoints
face-recognition
face-recognition-models
Flask
gast
gunicorn
h5py
importlib-metadata
itsdangerous
Jinja2
jsonschema
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
mock
numpy
opencv-python-headless
Pillow
protobuf
pyopengl
pyrsistent
pytesseract
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
testpath
threadpoolctl
tifffile
typing-extensions
urllib3
waitress
Werkzeug
Wand
wheel
wincertstore
wrapt
zipp